$background-dark: #512DA8;
$background-pale: rgb(230, 50, 50);

.footer{
    background-color: $background-pale;
    color: rgb(245, 233, 233) !important;
}

.btn-facebook {color:#fff!important; background-color:#3b5998!important;}
.btn-google-plus{color:#fff!important;background-color:#dd4b39!important;}
.btn-github{color:#fff!important;background-color:#000000!important;}
.btn-telegram{color:#fff!important;background-color:#007bb6!important;}
.btn-mail{color:#fff!important;background-color:#512DA8!important;}
.btn-vk {color:#fff!important; background-color:#3b5998!important;}
