<div>
  <div id="graphArea" fxFlex="">
    <svg></svg>
    <mat-card id="graphToolbarArea" fxLayout="column">
      <!-- CHARACTER SEARCH AREA -->
      <h4 fxFlexAlign="center" style="margin: 0">Search character</h4>
      <mat-form-field id="searchCharacterField">
        <input matInput type="search" [(ngModel)]="characterSearchValue"
               placeholder="Type a name of a character"
               [formControl]="charsControl"
               [matAutocomplete]="autoCharacters"/>
        <mat-autocomplete autoActiveFirstOption disableRipple
                          #autoCharacters="matAutocomplete" (optionSelected)="this.findNode(characterSearchValue)">
          <mat-option *ngFor="let char of filteredChars | async" [value]="char.name">
            {{ char.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <!-- CHARACTER SEARCH AREA END -->

      <!-- FILTERS AREA -->
      <h4 fxFlexAlign="center" style="margin: 0">Filters</h4>
      <hr>
      <div fxLayout="column" id="filterByGender">
        <div fxLayout="row" fxLayoutAlign="space-evenly">
          <mat-checkbox (change)="filterNodes()" [(ngModel)]="currentFilters.gender.males">Males</mat-checkbox>
          <mat-checkbox (change)="filterNodes()" [(ngModel)]="currentFilters.gender.females">Females</mat-checkbox>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-evenly">
          <mat-checkbox (change)="filterNodes()" [(ngModel)]="currentFilters.gender.genderfluid">Genderfluid</mat-checkbox>
          <mat-checkbox (change)="filterNodes()" [(ngModel)]="currentFilters.gender.agender">Agender</mat-checkbox>
          <mat-checkbox (change)="filterNodes()" [(ngModel)]="currentFilters.gender.na">N/A</mat-checkbox>
        </div>
      </div>
      <hr>
      <mat-form-field id="searchCitizenshipField">
        <input matInput type="search" [(ngModel)]="citizenshipSearchValue"
               placeholder="Citizenship"
               [formControl]="citizenshipsControl"
               [matAutocomplete]="autoCitizenship"/>
        <mat-autocomplete autoActiveFirstOption disableRipple
                          #autoCitizenship="matAutocomplete"
                          (optionSelected)="applyCitizenshipFilter(citizenshipSearchValue)">
          <mat-option *ngFor="let citizenship of filteredCitizenships | async" [value]="citizenship">
            {{ citizenship }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field id="searchRaceField">
        <input matInput type="search" [(ngModel)]="raceSearchValue"
               placeholder="Race"
               [formControl]="racesControl"
               [matAutocomplete]="autoRaces"/>
        <mat-autocomplete autoActiveFirstOption disableRipple
                          #autoRaces="matAutocomplete"
                          (optionSelected)="applyRaceFilter(raceSearchValue)">
          <mat-option *ngFor="let race of filteredRaces | async" [value]="race">
            {{ race }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <hr>
      <div fxLayout="column" id="filterByOrientation">
        <div fxLayout="row" fxLayoutAlign="space-evenly">
          <mat-checkbox (change)="filterNodes()" [(ngModel)]="currentFilters.orientation.straight">Straight</mat-checkbox>
          <mat-checkbox (change)="filterNodes()" [(ngModel)]="currentFilters.orientation.lesbian">Lesbian</mat-checkbox>
          <mat-checkbox (change)="filterNodes()" [(ngModel)]="currentFilters.orientation.gay">Gay</mat-checkbox>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-around">
          <mat-checkbox (change)="filterNodes()" [(ngModel)]="currentFilters.orientation.bisexual">Bisexual</mat-checkbox>
          <mat-checkbox (change)="filterNodes()" [(ngModel)]="currentFilters.orientation.pansexual">Pansexual</mat-checkbox>
          <mat-checkbox (change)="filterNodes()" [(ngModel)]="currentFilters.orientation.na">N/A</mat-checkbox>
        </div>
      </div>
      <hr>
      <!-- FILTERS AREA END -->

      <!-- COLORIZE AREA -->
      <h4 fxFlexAlign="center" style="margin: 0">Colorize</h4>
      <hr>
      <mat-radio-group class="example-radio-group"
                       [(ngModel)]="colorizationMethod" (change)="colorizationOnChange($event)"
                       fxLayout="row" fxLayoutAlign="space-evenly" id="colorization">
        <mat-radio-button class="example-radio-button" *ngFor="let metric of metrics"
                          [value]="metric">
          {{metric}}
        </mat-radio-button>
      </mat-radio-group>
      <hr>
      <!-- COLORIZE AREA END -->

      <!-- MATCHED RESULTS AREA -->
      <h4 fxFlexAlign="center" style="margin: 0; font-style: italic; color: red;"
          *ngIf="showFilteredResults">Characters matched: {{filteredResults.length}}</h4>
      <mat-list *ngIf="showFilteredResults">
        <div matTooltip="Scroll to view more" [matTooltipPosition]="'before'">
          <mat-list-item *ngFor="let char of filteredResults">
            <p mat-line="">{{char.name}}</p>
            <button mat-icon-button><mat-icon>search</mat-icon></button>
          </mat-list-item>
        </div>
      </mat-list>
      <!-- MATCHED RESULTS AREA END -->
    </mat-card>
  </div>
</div>
