<div>
  <div id="graphArea" fxFlex="">
    <mat-form-field id="searchArea">
      <input matInput type="search" [(ngModel)]="searchValue"
             placeholder="Find character"
             [formControl]="myControl"
             [matAutocomplete]="auto"/>
      <mat-autocomplete autoActiveFirstOption disableRipple
                        #auto="matAutocomplete" (optionSelected)="this.findNode(searchValue)">
        <mat-option *ngFor="let char of filteredChars | async" [value]="char.name">
          {{ char.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <svg></svg>
  </div>
</div>
