<div>
  <div id="graphArea" fxFlex="">
    <mat-card id="filtersArea" fxLayout="column">
      <h4 fxFlexAlign="center">Search character</h4>
      <mat-form-field id="searchCharacterField">
        <input matInput type="search" [(ngModel)]="characterSearchValue"
               placeholder="Start typing a name"
               [formControl]="myCharsControl"
               [matAutocomplete]="auto"/>
        <mat-autocomplete autoActiveFirstOption disableRipple
                          #auto="matAutocomplete" (optionSelected)="this.findNode(characterSearchValue)">
          <mat-option *ngFor="let char of filteredChars | async" [value]="char.name">
            {{ char.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <h4 fxFlexAlign="center">Filters</h4>
      <h4 fxFlexAlign="center">Colorize</h4>
    </mat-card>
    <svg></svg>
  </div>
</div>
