#graphArea {
  position: fixed;
  left: 0;
  right: 0;
  top: 64px;
  bottom: 108px;
}

.node text {
  pointer-events: none;
  font: 10px sans-serif;
}

.node .selected {
  stroke: black;
}

.node {
  stroke: #fff;
  stroke-width: 1.5px;
}
