<div class="footer"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutWrap
    fxLayoutGap="10px">

  <div fxFlex="100%" fxFlex.gt-sm="45%">
    <br>
    <div style="text-align:center">
      <a mat-icon-button class="btn-telegram" href="http://telegram.me/greatshock"><i class="fa fa-telegram fa-lg"></i></a>
      <a mat-icon-button class="btn-github" href="https://github.com/Greatshock"><i class="fa fa-github fa-lg"></i></a>
      <a mat-icon-button class="btn-vk" href="https://vk.com/n.marinosyan"><i class="fa fa-vk fa-lg"></i></a>
      <a mat-icon-button class="btn-google-plus" href="https://plus.google.com/u/0/104595286851267811178"><i class="fa fa-google-plus fa-lg"></i></a>
      <a mat-icon-button class="btn-facebook" href="https://www.facebook.com/nikita.marinosyan"><i class="fa fa-facebook fa-lg"></i></a>
      <a mat-icon-button class="btn-mail" href="mailto:nikita.marinosyan@gmail.com"><i class="fa fa-envelope-o fa-lg"></i></a>
    </div>
  </div>

  <div fxFlex="100%" fxFlexAlign="center center">
    <div style="text-align:center;">
      <p>© Nikita Marinosyan, 2018.</p>
    </div>
  </div>

</div>
